body{
  overflow-x:hidden;
  padding: 0;
  font-family:'Montserrat', sans-serif;
  color: white;
  letter-spacing: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.about{
  /* background-color: #280a3c; */
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
  overflow-y: hidden;
  overflow-x: hidden;
}
.section{
  width: 100vw;
  min-height: 100vh;
}
.centerdiv{
  margin:0 auto;
  text-align: center;
  display: block;
}
.absoluteCenter{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#mainRow{
  width: 80%;
}
h1, h2{
  /* background-image: linear-gradient(to left,#ff0048, #ff2441);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #ff0048;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 4em;
  margin-top:0;
  display: block;
}
h1{
text-shadow: 5px 5px #4f0a1d;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #4f0a1d;
}
h2{
  font-size: 3em;
  font-style: normal;
}
h3{
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

h5{
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  margin-top: 20px;
  text-transform: uppercase;
  color: #c3073f;
}
a{
  color: #c3073f;
  font-weight: 900;
}
a:hover{
  color: #c3073f;
}
 .picture-outline{
  border: 8px solid transparent;
  border-image: linear-gradient(to left, #c3073f 0%, #ff0048 100%);
  border-image-slice: 10;
  border-width: 8px;

  width: 200px;
  height: 200px;


  animation: 1s fadeIn;
  animation-fill-mode: forwards;
}
.vertical-center{
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.picture img{
  width: 200px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  z-index: 2;
  margin-left: 20px;
  margin-top: 20px;
}
.name{
  width: 80vw;
  height: 100vh;

}

.icon-holder a{
  display: inline;
  margin-right: 10px;
  font-size: 20px;
}
.icon-holder i{
  width: 40px;
  height: 40px;
  padding: 10px;
  /* border: 1px solid #ff0048; */
  background-color: rgba(255, 0, 72, 0.75);
  color: #73102c;
  display: inline-block;
  margin-top: 35px;
  transition: 0.5s;
  border-radius: 20px;
}
.icon-holder:hover i{
  box-shadow: 0px 0px 5px 3px rgba(128, 20, 49, 0.5);
  background-color: rgba(255, 0, 72, 1);
  color: black;
}
.icon-holder:hover a{
  text-decoration: none;
}

.emotes, .projects{
  background-color: #130047;
  width: 100vw;
  min-height: 100vh;
}
#martyHello{
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
}
.contentLeft, .contentRight{
  height: 100vh;
}
h2.title{
  font-style: normal;
  margin-bottom: 50px;
}
.projectsDesc>h2.title{
  margin-bottom: 0;
}
.contentRight{
  text-align: right;
}
.emotes>.container>.row>.contentRight>.contentWrap{
  /* height: 65vh;
  width: 60%;
  position: absolute; */
  /*top: 20%;
  right: 20%; */
  text-align: right;
  width: 80%!important;
}
.emotes>.container, .projects>.container, .stream>.container{
  padding: 0;
  margin: 0;
}
.emotes>.container>.row,
.projects>.container>.row,
.stream>.container>.row{
  width: 100vw;
}
.bold{
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 900;
  color: white!important;
  font-size: 1.2em;
}
.contentWrap>p{
  color: rgba(255, 255, 255, 0.8);
}
.stream{
  background: url('/images/Background.png') center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.stream>.container{
  /* width: 100%!important; */
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.stream>.container>.row{
  /* width: 99%; */
  height: 50%;
  padding: 0;
  margin: 0;
}
.video-embed{
  /* position: absolute; */
  /* top: 50%; */
  /* right: 75%; */
  height: 90%;
  width: 80%;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);;
}
#stream-title-row{
  width: 100%;
}
iframe{
  width: 100%!important;
  height: 100%!important;
}
.subtitle{
  /* margin-top: 50px; */
}
.projects>.container, .stream>.container{
  padding-top: 10%;
  padding-bottom: 10%;
}
.projects>.container>.row{
  padding-left: 30px;
  padding-right: 30px;
}
.projects>.container>.row>.contentRight>.contentWrap{
  /* height: 65vh; */
  width: 60%;
  position: absolute;
  top: 20%;
  right: 20%;
}
.projectImage{
  width: 80%;
  margin-top: 10%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  transition: 0.5s;
}
.projectsDesc{
  text-align: center;
}
a>img:hover{
  width: 85%;
}
.end{
  position: relative!important;
  width: 100vw;
  height: 100vh;
  background: url('../images/space-01.png') no-repeat fixed center;
  background-size: cover;
  background-size: 100vw 100vh;
}
#endContent>h1{
  display: block;
  text-align: center;
}
#endContent{
  display: block;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.end>.container, .end>.container>.row{
  width: 100%;
}

input[type=text], textarea{
  background: none;
  box-shadow: none;
  border:none;
  border-bottom: 4px solid #ff0048;
  width: 30%;
  font-size: 1.2em;
  margin-top: 20px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: white;
  transition: 0.4s;
}
input[type=text]:focus, textarea:focus{
  border:none;
  outline:none;
  border-bottom: 2px solid white;
  background:none;
  color: white;
}
textarea{
  height: 10px;
  box-sizing: border-box;
  margin-left: 5px;
  color: white;
}
.send-button{
  padding: 5px;
  border: none;
  background-color: transparent;
  background-color: rgba(255, 0, 72, 1);
  transition: 0.5s;
  display: inline-block;
  width: 30%;
  margin-top: 20px;
  color: #73102c;
  font-weight: 900;
  border: 2px solid #4f0a1d;
}
.send-button:hover,
button.send-button:focus{
  color:#1a1a1d;
  border: 1px solid #ff0048;
  outline: 0!important;

  box-shadow: 0px 0px 5px 3px rgba(128, 20, 49, 0.5);
  background-color: rgba(255, 0, 72, 1);


  border: 2px solid #4f0a1d;
  box-shadow: 5px 5px 0px 0px #4f0a1d;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #4f0a1d; */
}

.send-button>i{
  transition: 0.5s;
  margin-right: 10px;
  margin-left: -10px;
  color: #73102c;
}
.send-button:hover>i{
  color:#1a1a1d;
}
.send-button:focus>i{
  animation: 0.5s fadeOutRight;
  animation-fill-mode: forwards;
}
.form-icon{
  margin-right: 10px;
  position: relative;
}
.contactHeader{
  text-align: center;
  margin-bottom: 20px;

  animation: 1s fadeInUp;
}
.form-icon.message-icon>i{
  position: absolute;
  /* margin-top: -50px; */
  top:-8px;
  left:-5px;
  margin-right: 20px;
  color: #ff0048;
  /* border: 2px solid red; */
}
.form-icon>i{
  color: #ff0048;
  font-size: 1.2em;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color: #ff0048;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 900;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 900;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 900;
}
.message{
  height: 2em;
  margin-left: 10px;
}
@media only screen and (max-width: 991px) {
  .emotes>.container>.row>.contentRight>.contentWrap{
    /* border: 2px solid red; */
    text-align: left!important;
    /* width: 20%!important; */
  }
}

@media only screen and (max-width: 767px) {
  .subtitle{
    top: 40px;
  }
  .video-embed{
    height: 70%;
    width: 90%;
  }

  .stream>.container>.row{
    height: 80%;
  }
}

#emotesCarousel{
  width: 100%;
  left: 0;
  height: 80vh;
  /* border: 2px solid red; */
}
.carousel-item>img{
  width: 50%!important;
  margin: 0 auto;
  position: absolute;
  top: 40%; left: 50%;
  transform: translate(-50%, -40%);
}

.carousel-item{
  width: 100%;
  height: 70vh!important;
}
.carousel-indicators{
  margin-top: 30px;
}
.carousel-caption>h5{
  font-size: 1.4em;
}
