body{
  overflow-x:hidden;
  padding: 0;
  font-family:'Montserrat', sans-serif;
  color: white;
  letter-spacing: 2px;
}
.about{
  /* background-color: #280a3c; */
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
  overflow-y: hidden;
  overflow-x: hidden;
}
.section{
  width: 100vw;
  height: 100vh;
}
.centerdiv{
  margin:0 auto;
  text-align: center;
  display: block;
}
h1, h2{
  background-image: linear-gradient(to left,#ff0048, #950740);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 4em;
  margin-top:0;
  display: block;
}
h2{
  font-size: 3em;
  font-style: normal;
}
h3{
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

h5{
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  margin-top: 20px;
  text-transform: uppercase;
  color: #c3073f;
}
a{
  color: #c3073f;
  font-weight: 900;
}
a:hover{
  color: #c3073f;
}
 .picture-outline{
  border: 8px solid transparent;
  border-image: linear-gradient(to left, #c3073f 0%, #ff0048 100%);
  border-image-slice: 10;
  border-width: 8px;

  width: 200px;
  height: 200px;


  animation: 1s fadeIn;
  animation-fill-mode: forwards;
}
.vertical-center{
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.picture img{
  width: 200px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  z-index: 2;
  margin-left: 20px;
  margin-top: 20px;
}
.name{
  width: 80vw;
  height: 100vh;

}

.icon-holder a{
  display: inline;
  margin-right: 10px;
  font-size: 20px;
}
.icon-holder i{
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ff0048;
  display: inline-block;
  margin-top: 35px;
  transition: 0.5s;
  color: #ff0048;
}
.icon-holder:hover i{
  background-color: #ff0048;
  color: #1a1a1d;
}
.emotes, .projects{
  background-color: #280a3c;
  width: 100vw;
  height: 100vh;
}
#martyHello{
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
}
.contentLeft,.contentRight{
  height: 100vh;
}
h2.title{
  font-style: normal;
  margin-bottom: 50px;
}
.contentRight{
  text-align: right;
}
.emotes>.container>.row>.contentRight>.contentWrap{
  height: 65vh;
  width: 60%;
  position: absolute;
  top: 20%;
  right: 20%;
}
.emotes>.container, .stream>.container, .projects>.container{
  padding: 0;
  margin: 0;
}
.emotes>.container>.row,
.stream>.container>.row,
.projects>.container>.row{
  width: 100vw;
}
.bold{
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 900;
  color: white!important;
  font-size: 1.2em;
}
.contentWrap>p{
  color: rgba(255, 255, 255, 0.8);
}
.stream{
  background: url('/images/Background.png') center;
  background-size: cover;
}
.stream>.container>.row>.contentLeft>.contentWrap{
  height: 65vh;
  position: absolute;
  top: 20%;
  left: 30%;
}
#twitch-embed{
  width: 20%;
  /* position: absolute; */
  /* top: 50%; */
  right: 75%;
}
.projects>.container{
}

.projects>.container>.row>.contentRight>.contentWrap{
  /* height: 65vh; */
  width: 60%;
  position: absolute;
  top: 20%;
  right: 20%;
}
.projectImage{
  width: 80%;
  margin-top: 10%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  transition: 0.5s;
}
.projects>.container>.row>.projectsDesc{
  display: block;
  width: 100%;
  margin-top: 1%;
  margin-right: 4%;
  margin-bottom: 50px;
  text-align: right;
}
a>img:hover{
  width: 85%;
}
.projects>.container>.row{
  padding: 10%;
}
.end{
  position: relative!important;
  width: 100vw;
  height: 100vh;
  background: url('../images/space-01.png') no-repeat fixed center;
  background-size: cover;
  background-size: 100vw 100vh;
}
#endContent>h1{
  display: block;
  text-align: center;
}
#endContent{
  display: block;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.end>.container, .end>.container>.row{
  width: 100%;
}

input[type=text], textarea{
  background: none;
  box-shadow: none;
  border:none;
  border-bottom: 2px solid #c3073f;
  width: 30%;
  font-size: 1.2em;
  margin-top: 20px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: white;
}
input[type=text]:focus, textarea:focus{
  border:none;
  outline:none;
  border-bottom: 2px solid white;
  background:none;
  color: white;
}
textarea{
  height: 10px;
  box-sizing: border-box;
  margin-left: 5px;
  color: white;
}
.send-button{
  padding: 5px;
  border: none;
  background-color: transparent;
  border: 1px solid #c3073f;
  transition: 0.5s;
  display: inline-block;
  width: 30%;
  margin-top: 20px;
  color: #c3073f;
  font-weight: 900;
}
.send-button:hover,
button.send-button:focus{
  background-color: #c3073f;
  color:#1a1a1d;
  border: 1px solid #c3073f;
  outline: 0!important;
}

.send-button>i{
  transition: 0.5s;
  margin-right: 10px;
  margin-left: -10px;
}
.send-button:hover>i{
  color:#1a1a1d;
}
.send-button:focus>i{
  animation: 0.5s fadeOutRight;
  animation-fill-mode: forwards;
}
.form-icon{
  margin-right: 10px;
  position: relative;
}
.contactHeader{
  text-align: center;
  margin-bottom: 20px;

  animation: 1s fadeInUp;
}
.form-icon.message-icon>i{
  position: absolute;
  /* margin-top: -50px; */
  top:-8px;
  left:-5px;
  margin-right: 10px;
  color: #c3073f;
  /* border: 2px solid red; */
}
.form-icon>i{
  color: #c3073f;
  font-size: 1.2em;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 900;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 900;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 900;
}
.message{
  height: 2em;
  margin-left: 10px;
}
